<h2>Login</h2>
<form class="form-inline" {{action 'login' on='submit'}}>
  {{input value=identification placeholder="email" class="form-control"}}
  {{input value=password type="password" placeholder="Password" class="form-control"}}
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{{#if errorMessage}}
    <div class="alert alert-danger">
        <p>
            <strong>Login failed:</strong> <code>{{errorMessage}}</code>
        </p>
    </div>
{{/if}}