<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/#">Timetracker</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!-- TODO replace hardcoded 1 -->
                <li>{{#link-to 'user.entries' 1}}Your entries{{/link-to}}</li>

                {{#if session.isAuthenticated}}
                    <a {{action 'invalidateSession'}}>Logout</a>
                {{else}}
                    <li>{{#link-to 'register'}}Register{{/link-to}}</li>  <!-- TODO maybe register should be in the login route as a link ? Its a common practice -->
                    <li>{{#link-to 'login'}}Login{{/link-to}}</li>
                {{/if}}



            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>