<form class="form-inline" {{action 'register' on='submit'}}>
  <h2>Signup</h2>
  {{input value=identification placeholder="email"}}
  {{input value=password type="password" placeholder="Password"}}
  <button type="submit" class="btn btn-primary">Signup</button>
</form>