<h4>Preferred working hours per day: {{user.hours}} hours {{#link-to "user.edit" user class="btn btn-primary"}}Change{{/link-to}}</h4>
{{list-entries user=user}}
<h3>New entry</h3>

{{new-entry owner=(readonly user.id) hours=(readonly user.hours) onSave=(action "addUserEntry")}}

<! -- {{outlet}} -->